.App {
  width: 50%;
  margin: auto;
  position: relative;
}

.header {
  text-align: center;
  width: 50%;
  background-color: #dbd7d7;
  padding: 1px 0px;
  position: fixed;
}
h1 {
  padding: 1px 0px;
}

.text {
  position: fixed;
  bottom: 0;
  width: 50%;
  line-height: 50px;
  font-size: 28px;
  border: none;
  background-color: #dbd7d7;
}

.toDo-list{
  /* height: auto; */
  overflow-y:auto;
  /* display: none; */
  max-height: 92vh;
  z-index: 9999999999999;
}

::-webkit-scrollbar {
  display: none;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: #adadad; */
  padding: 10px;
  margin: 5px;
  background: #fff;
  border: solid 3px #e9e9e9;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}
.note .isCompleted{
  text-decoration: line-through;  
}

.note p {
  margin: 0;
}
.note small {
  font-weight: 10;
  font-size: 12px;
}

.btn {
  position: fixed;
  z-index: 1;
  right: 350px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  background: #8e95a7;
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
}

.btn-1 {
  border-radius: 3px;
  padding: 2px 5px;
  margin: 2px;
  border: none;
  color: white;
  font-weight: 20;
}

.btn-delete {
  background-color: red;
}
.btn-completed {
  background-color: green;
}
